<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="RecaptchaSiteKey" value="6LeuLLcrAAAAAAJeiPm7oHTlJs97dRbw0Vd51xcH" />
  <add key="RecaptchaSecretKey" value="6LeuLLcrAAAAABpggrPXma_LaV_c9rE16gw9yXRC" />

  <add key="SmtpHost" value="smtp.gmail.com" />
  <add key="SmtpPort" value="587" />
  <add key="SmtpUser" value="spamearly@gmail.com" />
  <add key="SmtpPass" value="TU_APP_PASSWORD_AQUI" />
</appSettings>
